* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;;
}

.article {
    margin: 20px auto;
    background-color: #f2f2f2;
    padding: 40px;
    width: 600px;
    color: rgba(0, 0, 0, 0.644);
    /* Alinear texto */
    /* left right center justify */
    text-align: left;
    box-shadow: 0 0 10px -3px rgba(0,0, 0, 0.7);
    border-radius: 7px;
}

.titulo {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    font-weight: 900;
    /* text-shadow: 3px 2px 4px rgba(0,0,0,.3); */
}

.parrafo {
    /* letter-spacing: 5px; */
    /* word-spacing: 20px; */
    line-height: 30px;
    margin-bottom: 20px;
    font-style: italic;
    font-size: 17px;
    font-weight: 300;
    line-height: 45px;
    text-decoration: underline;
    text-transform: uppercase;
}

.enlace {
    color: #000;
    font-weight: 100;
    text-decoration: none;
}