* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sobre-mi {
    background-color: tomato;
    color: white;
    padding: 20px 0px;
    text-align: right;
}

#elh2 {
    background-color: teal;
}

.sobre-mi.elh2#elh2 {
    background-color: aqua;
}

body {
    color: white;
    text-align: center;
    font-family: Arial;
}

.section {
    padding: 40px 0;
    background-color: hotpink;
    font-size: 20px;
}

p {
    /* text-align: left; */
    border: inherit;
}
