*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
}

.contenedor {
    width: 80%;
}

/* ---------------------------------------------------------------------- */
/* Header */
/* ---------------------------------------------------------------------- */

/* ----------------------------------------- */
/* Nav */
/* ----------------------------------------- */

.nav {
    width: 100%;
    height: 90px;
    background-color: #84c0c6;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.9;
}

.nav-name {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

.nav-menu-languages {
    width: 150px;
    padding: 5px 10px;
    border: 2px solid #fff;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.nav-menu-languages-language {
    width: 33%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-menu-languages-language-flag {
    width: 35%;
    height: inherit;
    object-fit: contain;
}

.nav-menu-languages-language-text {
    width: 40%;
    font-size: 13px;
    text-align: center;
}

.nav-menu-languages-switch {
    /* width: 48px; */
    padding-top: 1px;
    filter: invert();
}

.nav-section-list li {
    display: inline-block;
    list-style: none;
    margin: 0 8px 0 0px;
}

.nav-section-list-link {
    text-decoration: none;
    color: inherit;
    font-size: 17px;
    font-weight: 700;
}

/* ----------------------------------------- */
/* Up */
/* ----------------------------------------- */

.up {
    position: fixed;
    right: 20px;
    bottom: 20px;
    /* border: 10px solid #000;
    border-radius: 50%; */
}

.up-link {
    text-decoration: none;    
    color: inherit;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.up-arrow {
    width: 60px;
    height: 60px;
    filter: invert(79%) sepia(18%) saturate(575%) hue-rotate(137deg) brightness(90%) contrast(87%);
    border: 6px solid;
    border-radius: 50%;
}

.up-link:active .up-arrow {
    filter: invert(32%) sepia(54%) saturate(909%) hue-rotate(152deg) brightness(99%) contrast(90%);
}

/* ----------------------------------------- */
/* Hero */
/* ----------------------------------------- */

.hero {
    margin: 0px auto;
    padding: 120px 0 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.hero-image {
    display: block;
    width: 300px;
    height: 300px;
    /* border: 1px solid #000; */
    border-radius: 50%;
    box-shadow: 0px 0px 3px 2px;
}

/* ---------------------------------------------------------------------- */
/* Sections */
/* ---------------------------------------------------------------------- */

.section {
    /* margin: 100px auto; */
    margin: 0px auto;
    width: 90%;

}

.section-title {
    padding: 100px 0 0 0;
}

/* ---------------------------------------------------------------------- */
/* Responsive Design */
/* ---------------------------------------------------------------------- */

@media screen and (max-width: 950px) {
    
    .languages-menu {
        width: 80px;
        padding: 5px 0;
    }
    
    .lenguaje {
        justify-content: center;
    }
    
    .bandera-pais {
        /* display: none; */
        width: 60%;
    }

    .idioma-texto {
        display: none;
        width: 90%;
        /* font-size: 10px; */
    }

    .icon-switch {
        width: 20px;
    }

}