/* ------------------------- */
/* Fuentes */
/* ------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

/* ------------------------- */
/* Variables */
/* ------------------------- */

:root {
    --background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    --color-primary: #667eea;
    --color-secondary: #3C4F76;
    --color-third: #C2E9FB;
    --height-nav: 10%;
    --height-wave: 20%;
    --button-padding: 10px;
}

/* ------------------------- */
/* General */
/* ------------------------- */

body {
    font-family: 'Raleway', sans-serif;    
}

.container {
    width: 90%;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
}

/* ------------------------- */
/* Nav */
/* ------------------------- */

.nav__container {
    /* position: fixed; */
    width: 100%;
    height: var(--height-nav);
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.nav__container--display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav__item {
    text-decoration: none;
    color: #3C4F76;
    margin-right: 25px;
    font-weight: 700;
    font-size: 1rem;
}

.nav__item--cta {
    display: inline-block;
    padding: var(--button-padding);
    text-decoration: none;
    border: 2px solid #3C4F76;
    color: var(--color-secondary);
    border-radius: 10px;
}

/* ------------------------- */
/* Hero */
/* ------------------------- */

.hero {
    background-image: var(--background);
    background-attachment: fixed;
    height: 100dvh;
    position: relative;
    /* padding: var(--height-nav); */
}

.hero__container {
    height: calc(100dvh - var(--height-wave) - var(--height-nav));
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;    
}

/* Textos */

.hero__texts {
    flex-basis: 50%;
    color: var(--color-secondary);
}

.hero__title {
    margin-bottom: 5%;
    font-size: 2.5rem;
}

.hero__subtitle {
    margin-bottom: 5%;
    font-size: 2rem;
    color: #697796;
}

.hero__cta {
    display: inline-block;
    padding: var(--button-padding);
    text-decoration: none;
    background-color: #fff;
    color: var(--color-secondary);
    border-radius: 15px;
    font-size: 20px;
}

/* Imagen */

.hero__imgs {
    flex-basis: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hero__img {
    width: 80%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}

/* Wave */

.hero__wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--height-wave);
}

/* ------------------------- */
/*  */
/* ------------------------- */